.index-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.index-logical-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  background-color: aqua;
  display: inline-block;
}

.index-title {
  font-size: 24px;
  background-color: green;
  color: rgb(240, 248, 255);
}

#index-title-unique-paragraph {
  background-color: aquamarine;
}

input {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
}

input[type="button"] {
  background-color: rgb(63, 183, 99);
  color: rgb(255, 255, 255);
  border-color: transparent;
  cursor: pointer;
}

.drama-stories + p {
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
}

.creepy-stories ~ p {
  background-color: rgb(49, 49, 48);
  color: rgb(232, 232, 232);
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
}

section p {
  background-color: rgb(197, 226, 249);
  padding: 15px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
}

section > p {
  background-color: violet;
}
