@use "global";

.footer {
  background-color: global.$color-accent-main;
  color: global.$color-text-tertiary;

  &__content {
    @include global.flex-position();
    gap: 20px;
    padding-block: 50px;
  }

  &__name {
    font-size: 21px;
    font-weight: 500;
  }

  &__copyright {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.64;
  }
}
