@use "global";

.main-menu {
  width: 100%;
  background-color: global.$color-surface-primary;
}

.nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: global.$color-text-primary;
  text-transform: uppercase;
  padding-block: 5rem;
  gap: 50px;

  &__item {
    cursor: pointer;
    font-size: 1rem;
  }

  &__item:hover {
    color: global.$color-text-secondary;
  }

  &__item-active {
    color: global.$color-accent-main;
    cursor: default;
  }
}
