@use "button";
@use "global";

.promo {
  background-color: global.$color-surface-primary;
  display: flex;

  &-section {
    @include global.flex-position();
    max-width: 540px;
    padding-top: 80px;
    padding-bottom: 140px;
    gap: 50px;

    &__title {
      font-size: 3rem;
      font-weight: 500;
    }

    &__paragraph {
      color: global.$color-text-secondary;
      line-height: 1.64;
    }

    &__button {
      @extend %main-button;
      font-size: 1rem;
      font-weight: 400;
      max-width: 225px;
      padding: 25px 50px;
    }
  }
}

.about {
  background-color: global.$color-surface-secondary;
  display: flex;

  &__container {
    @include global.flex-position($align-i: center);
    @include global.text-centered();
    max-width: 540px;
  }

  &__title {
    @include global.title-content();
  }

  &__paragraph {
    @include global.paragraph-content();
  }
}

.video {
  @include global.flex-position($align-i: center, $justify-c: center);
  background-color: global.$color-surface-primary;

  &__container {
    @include global.flex-position($align-i: center, $justify-c: center);
    @include global.text-centered();
  }

  &__text-container {
    @include global.flex-position($align-i: center);
    max-width: 540px;
    gap: 50px;
  }

  &__title {
    @include global.title-content();
  }

  &__paragraph {
    @include global.paragraph-content();
  }

  &__foto {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.65);
      pointer-events: none;
    }

    .background-img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: auto;
    }

    .top-img {
      max-width: 100px;
      max-height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      width: 15%;
    }
  }
}

.stats {
  background-color: global.$color-accent-main;
  text-align: center;

  &__item {
    display: flex;
    box-sizing: border-box;
    gap: 20px;
    padding: 100px 0;
  }

  &__content {
    @include global.flex-position($justify-c: flex-end);
    gap: 4px;
    color: global.$color-text-tertiary;
    text-align: left;
    float: right;
  }

  &__number {
    font-size: 21px;
  }

  &__label {
    font-size: 16px;
  }
}
