@media screen and (max-width: 1280px) {
  .content {
    padding-inline: 24px;
    margin: 0;
  }

  .nav,
  .promo,
  .stats {
    justify-content: center;
  }

  .promo-section {
    align-items: center;
    text-align: center;
    max-width: 540px;
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .content__group {
    flex-wrap: wrap;
    justify-content: center;
  }

  .stats__item {
    width: calc((100% - 40px) / 3);
    justify-content: center;
    padding: 50px 0;
  }

  .footer__content {
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  .content {
    padding: 75px 16px;
  }

  .promo-section__button {
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 10px;
  }

  .about__container {
    gap: 16px;
  }

  .content__group {
    padding-block: 30px;
  }

  .stats__item {
    width: calc((100% - 20px) / 2);
    padding: 30px 0;
  }
}

@media screen and (max-width: 375px) {
  .content {
    padding-inline: 12px;
  }
}
