@use "sass:color";

$accent-color-primary: #6de1e3;
$accent-color-secondary: #2d5e5e;
$accent-color-tertiary: #85aaab;

$text-color-primary: #ffffff;
$text-color-secondary: #000000;

$background-color-primary: #ffffff;

$icon-color-primary: #4a5e5e;

html,
body {
  margin: 0;
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald";
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.layout {
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
  }
}

.content {
  display: flex;
  justify-self: center;
  padding: 0 130px;
  max-width: 1440px;
  width: 100%;
}

.button {
  padding: 10px;
  min-width: 250px;
  color: $text-color-primary;
  background-color: $accent-color-secondary;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($accent-color-secondary, $lightness: -5%);
  }
}
