html,
body {
  background: #e6f1f5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 10px #1c1a1926;
}

.header-nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header-nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 24px;
}

.header-nav-list-button {
  padding: 10px 0;
  border-bottom: 2px black transparent;
}

.header-nav-list-button:hover {
  color: black;
  border-bottom: 3px black solid;
}

.active-page {
  color: black;
  border-bottom: 3px black solid;
}

main {
  align-items: center;
  width: 70%;
  flex: 1;
}

.index-main-content,
.about-main-content {
  margin: 30px 0;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(49, 34, 14); */
}

.index-main-content-title,
.about-main-content-title,
.articles-main-content-title,
.gallery-main-content-title {
  font-size: 32px;
  font-weight: 700;
}

.about-main-content-paragraph,
.about-main-content-about-us,
.articles-paragraph {
  font-size: 16px;
  font-weight: 500;
}

.about-main-content-subtitle,
.articles-main-content-subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.index-main-content-image {
  width: 100%;
}

.index-paragraph {
  font-size: 24px;
  font-weight: 500;
}

.index-movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.index-google-link,
.index-movie-link {
  display: inline-block;
  background-color: #edf6fc;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 24px;
}

.index-google-link:hover,
.index-movie-link:hover {
  background-color: #cfeaff;
}

.articles-main-content,
.gallery-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  width: 100%;
}

.articles-main-content {
  align-items: flex-start;
}

.articles-main-content-title,
.gallery-main-content-title,
.gallery-main-content-section-description {
  align-self: center;
  margin-bottom: 10px;
}

.articles-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.gallery-films-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.gallery-main-content {
  align-items: center;
}

.gallery-main-content-section-description {
  font-size: 24px;
  font-weight: 500;
}

.gallery-film-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 25px;
  border-radius: 16px;
  background: #edf6fc;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  max-width: 49%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.gallery-film {
  display: flex;
  gap: 30px;
}

.gallery-film-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.film-name-title {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

.gallery-film-image,
.gallery-film-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  gap: 20px;
}

.gallery-film-text-basics,
.gallery-film-text-description,
.gallery-film-text-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}

.small-circle {
  font-size: 10px;
}

.gallery-film-image img {
  object-fit: contain;
  border-radius: 16px;
  width: 260px;
}

.gallery-film-text-meta {
  opacity: 0.7;
  font-style: italic;
}

.gallery-film-text-meta-element {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 20px;
  cursor: pointer;
}

.gallery-film-text-meta-element:hover {
  background-color: #dcf0f8;
}

.contacts-main-content {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contacts-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contacts-description {
  font-size: 24px;
  text-align: center;
}

.contacts-info {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.feedback-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.feedback-form span {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 18px;
}

.feedback-form input,
.feedback-form textarea,
.feedback-form select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 5px;
  width: 250px;
  /* color: rgba(181, 181, 181, 0.009); */
  /* background-color: yellowgreen; */
}

.feedback-form textarea {
  height: 100px;
}

.contacts-feedback-title {
  margin-top: 20px;
  font-size: 22px;
}

.contacts-feedback-button {
  background-color: rgb(245, 245, 245);
  padding: 7px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.contacts-feedback-button:hover {
  background-color: rgb(225, 224, 224);
  transform: scale(1.025);
}

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: rgb(30, 66, 81);
  color: rgb(255, 255, 255);
  font-size: 16px;
}
