.page {
  width: 100%;
  background-color: #1c0c2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.page__title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}

.page__container {
  display: flex;
  max-width: 1100px;
  gap: 20px;
}

.page__link {
  color: #61bdf6;
  font-size: 24px;
  border: 2px solid #1c0c2a;
  border: 2px solid #34263f;
  border-radius: 50%;
  padding: 20px;
  transition: 0.5s 0.1s;
}

.page__link:hover {
  transform: scale(1.1);
  background-color: #301a43;
  color: #ffffff;
}

.page__link--one-digit {
  padding: 20px 25px;
}
