.table-centerer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

table {
  border: 3px solid #000000;
  border-collapse: collapse;
}

table td {
  border: 3px solid #000000;
  height: 40px;
  width: 50px;

  text-align: center;
  vertical-align: middle;
}

.taller {
  height: calc(40px + 40px);
}

.halfling {
  height: 5px;
}

.thin {
  width: 15px;
}

.thinner {
  width: 45px;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}
