@use "sass:color";

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

$accent-main-primary: #1a7df0;
$accent-main-secondary: #ffffff;

$accent-aux-primary: #ffe711;
$accent-aux-secondary: #005bc5;
$accent-aux-tertiary: #333333;

$button-main-hover: #f9d100;

$accent-logo: #3a59a1;

$dark-accent-main-primary: #4da3ff;
$dark-accent-main-secondary: #ffffff;

$dark-accent-aux-primary: #ffe711;
$dark-accent-aux-secondary: #7bbcff;
$dark-accent-aux-tertiary: #f3f3f3;

$dark-bg: #121212;
$dark-surface: #1f1f1f;

// White theme

:root {
  --color-text-bw: #333333;
  --color-text-bb: #333333;
  --color-text-wb: #ffffff;
  --color-text-ww: #ffffff;

  --color-accent-hover: #1a7df0;

  --color-accent-logo: #3a59a1;

  --color-border: #333333;

  --color-svg-basic: #333333;

  --color-bg: #ffffff;

  --color-breadcrumbs: #33333380;

  --color-primary: #1a7df0;

  --color-button-main: #ffe711;
  --color-button-main-hover: #f9d100;

  --color-button-secondary: #1a7df0;
  --color-button-secondary-hover: #005bc5;

  --color-button-transparent-hover: #1a7df0;

  --color-outline-tb: transparent;

  //
  --color-accent: #ffe711;
  --color-accent-hover: #f9d100;
  --color-white: #ffffff;
}

// Dark theme

body.dark-theme {
  --color-text-bw: #ffffff;
  --color-text-bb: #333333;
  --color-text-wb: #333333;
  --color-text-ww: #ffffff;

  --color-accent-hover: #f9d100;

  --color-accent-logo: #ffffff;

  --color-border: #ffffff;

  --color-svg-basic: #ffffff;

  --color-bg: #333333;

  --color-breadcrumbs: #ffffffb0;

  --color-button-main: #ffe91f;
  --color-button-main-hover: #1a7df0;

  --color-button-secondary: #ffffff;
  --color-button-secondary-hover: #ffffff;

  --color-button-transparent-hover: #ffe711;

  --color-outline-tb: #000000;

  //

  --color-accent: #f9d100;

  --color-white: #ffffff;
}

$container-padding: 12px 80px;
// $max-width: 1920px;
$max-width: 1600px;

html,
body {
  margin: 0;
  font-family: "Raleway";
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  // color: $accent-aux-tertiary;
  color: var(--color-text-bw);
}

h1 {
  font-weight: 500;
  font-size: 65px;
}

h2 {
  font-weight: 400;
  font-size: 42px;
}

h3,
h4,
h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

p,
span,
button {
  // color: $accent-aux-tertiary;
  color: var(--color-text-bw);
}

span {
  transition: 0.3s;
}

.text-xl {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.text-lg {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.text-s {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.button {
  min-width: 350px;
  font-weight: 400;
  font-size: 24px;
  padding: 15px 68px;
  border-radius: 100px;
  cursor: pointer;

  &--primary {
    // background-color: $accent-aux-primary;
    background-color: var(--color-button-main);
    color: var(--color-text-bb);

    &:hover {
      // background-color: #f9d100;
      background-color: var(--color-button-main-hover);
      color: var(--color-text-bw);
    }
  }

  &--secondary {
    // color: $accent-main-secondary;
    color: var(--color-text-wb);
    // background-color: $accent-main-primary;
    background-color: var(--color-button-secondary);

    &:hover {
      // background-color: #005bc5;
      background-color: var(--color-button-secondary-hover);
      outline: 1px solid var(--color-outline-tb);
      outline-offset: -1px;
    }
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-text-bw);
    outline: 1px solid var(--color-text-bw);
    outline-offset: -1px;

    &:hover {
      // outline-color: $accent-main-primary;
      // color: $accent-main-primary;
      outline-color: var(--color-button-transparent-hover);
      color: var(--color-button-transparent-hover);
    }
  }
}

.menu {
  font-weight: 500;
  font-size: 20px;
}

a {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-text-bw);
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: 0.3s;

  &:hover {
    color: var(--color-accent-hover);
    // border-color: $accent-main-primary;
  }

  span {
    color: inherit;
  }

  // span:hover {
  //   color: var(--color-accent-hover);
  // }
}

// svg {
//   color: var(--color-svg-basic);
// }

// TODO:
// correct images in about us
