@use "global";
@use "sass:color";

.report {
  max-width: global.$max-width;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: global.$container-padding;
  gap: 60px;
  align-items: center;

  &__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  &__horizontal-container {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
    flex-wrap: wrap;

    p {
      flex: 1;
    }

    h3 {
      flex: 1;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 130%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    column-gap: 150px;
    row-gap: 50px;
    padding-inline: 143px;
  }

  &__list-item h2 {
    margin-bottom: 5px;
    white-space: nowrap;
  }

  &__about {
    display: flex;
    gap: 20px;
  }

  &__image-container {
    flex: 1;
    position: relative;
    border-radius: 15px;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__play {
    position: absolute;
    display: flex;
    place-self: center;
    inset: 0;
    width: 108px;
    height: 108px;
    cursor: pointer;
  }

  &__text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }

  &__buttons-container {
    display: flex;
    gap: 15px;
  }
}

.projects {
  max-width: global.$max-width;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: global.$container-padding;
  gap: 60px;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__photos {
    display: flex;
    gap: 20px;

    a {
      border-bottom: 1px solid transparent;
    }

    &-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 48px;
      gap: 12px;
    }

    .colored-rectangle--first {
      background-color: global.$accent-aux-primary;
    }

    #black-text {
      color: global.$accent-aux-tertiary;
    }

    .colored-rectangle--second {
      background-color: global.$accent-main-primary;
    }
  }

  .photo-link {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 30px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .photo-text {
      position: absolute;
      left: 24px;
      right: 24px;
      bottom: 24px;
      line-height: 120%;
      color: global.$accent-main-secondary;
    }
  }

  &__events {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;

    a {
      text-decoration: underline;
      text-underline-offset: 4px;
      border-bottom: none;
    }

    &-title {
      font-size: 32px;
      font-weight: 400;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 15px;
    }

    &-item {
      display: flex;
      gap: 23px;

      svg {
        width: 21px;
        height: 21px;
        color: global.$accent-main-primary;
        flex: 0 0 21px;
        display: block;
      }
    }
  }
}

.privileges {
  display: flex;
  gap: 20px;
  width: 100%;

  &__container {
    padding: 56px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    border-radius: 30px;
    min-height: 490px;

    h2,
    p {
      color: global.$accent-main-secondary;
    }

    &--first {
      background-color: global.$accent-main-primary;
    }

    &--second {
      background-color: global.$accent-aux-primary;
      padding: 56px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;

      p,
      span,
      h2,
      h4 {
        color: var(--color-text-bb);
      }

      span {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &__important {
    display: flex;
    gap: 10px;
    max-width: 470px;

    h4 {
      color: var(--color-text-ww);
    }

    svg {
      display: inline-block;
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
    }
  }

  &__hours {
    padding: 11px 75px;
    background-color: var(--color-text-ww);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;

    &-text {
      font-size: 32px;
    }

    &-container {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-time {
      font-size: 32px;
      font-weight: 600;
      line-height: 130%;
    }

    p,
    svg {
      color: #1a7df0;
    }

    svg {
      display: inline-block;
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    height: 100%;

    &-item {
      display: flex;
      gap: 23px;

      svg {
        width: 21px;
        height: 21px;
        color: global.$accent-aux-primary;
        flex: 0 0 21px;
        display: block;
      }
    }
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

.partners {
  max-width: global.$max-width;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: global.$container-padding;
  align-items: center;
  gap: 30px;

  &__chess-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    border-radius: 30px;
  }

  &__chess-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 34px;
    height: 130px;
    box-sizing: border-box;

    span {
      font-size: 24px;
      font-weight: 400;
    }

    &--main-color {
      background-color: global.$accent-main-primary;

      &-transparent {
        background-color: color.change(global.$accent-main-primary, $alpha: 0.5);

        > * {
          color: var(--color-text-ww);
        }
      }

      > * {
        color: var(--color-text-ww);
      }
    }

    &--aux-color {
      background-color: global.$accent-aux-primary;

      &-transparent {
        background-color: color.change(global.$accent-aux-primary, $alpha: 0.5);
        > * {
          color: var(--color-text-bb);
        }
      }

      > * {
        color: var(--color-text-bb);
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: global.$breakpoint-tablet) {
  .report {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      row-gap: 30px;
      padding-inline: 0;
    }

    &__about {
      flex-direction: column;
    }

    &__text-container {
      align-items: center;
    }
  }

  .projects {
    &__photos {
      flex-direction: column;
    }

    &__events-list {
      grid-template-columns: 1fr;
    }
  }

  .privileges {
    flex-direction: column;

    &__hours {
      padding-inline: 43px;
    }

    &__container {
      flex: auto;
      min-height: min(460px);
      min-height: 0;
    }
  }

  .partners {
    &__chess-list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__buttons {
      flex-direction: column;
      align-self: stretch;
      padding-inline: 10px;
    }
  }
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .report {
    padding: var(--padding-container);
    gap: 36px;

    &__description {
      gap: 18px;
    }

    &__horizontal-container {
      flex-direction: column;
      align-items: stretch;
      gap: 16px;
      text-align: left;
    }

    &__title {
      font-size: 22px;
      line-height: 130%;
    }

    &__figures {
      align-self: flex-start;
    }

    &__list {
      grid-template-columns: 1fr;
      row-gap: 22px;
    }

    &__about {
      gap: 18px;
    }

    &__play {
      width: 72px;
      height: 72px;
    }

    &__buttons-container {
      flex-direction: column;
      width: 100%;
      gap: 12px;
    }
  }

  .projects {
    padding: var(--padding-container);
    gap: 36px;

    &__main {
      gap: 18px;
    }

    &__photos {
      gap: 16px;

      &-inner {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 12px;
      }
    }

    .photo-link {
      min-height: 220px;
      border-radius: 20px;

      .photo-text {
        left: 16px;
        right: 16px;
        bottom: 16px;
        font-size: 18px;
        text-align: center;
      }
    }

    .projects__photos-inner > a {
      grid-column: auto !important;
      grid-row: auto !important;
    }

    &__events {
      gap: 20px;
      margin-bottom: 0;

      &-title {
        font-size: 24px;
      }

      &-item {
        gap: 14px;
      }
    }
  }

  .privileges {
    gap: 16px;

    &__container {
      padding: var(--padding-container);
      gap: 20px;
      border-radius: 20px;
    }

    &__hours {
      padding: 16px;
      gap: 8px;

      &-text {
        font-size: 20px;
      }

      &-container {
        flex-direction: column;
        gap: 10px;
      }

      &-time {
        font-size: 22px;
      }

      svg {
        width: 28px;
        height: 28px;
        flex-basis: 28px;
      }
    }

    &__list-item {
      gap: 14px;
    }
  }

  .partners {
    padding: var(--padding-container);
    gap: 24px;

    &__chess-list {
      grid-template-columns: 1fr;
      border-radius: 20px;
    }

    &__chess-item {
      height: auto;
      min-height: 92px;
      padding: 20px 16px;

      span {
        font-size: 18px;
      }
    }

    &__buttons {
      padding-inline: 0;
      width: 100%;
    }
  }
}
